/* - - - - - - - - - -

    CSS-Datei für das Responsive-Design:
    "Interaktives Berufsportrait eines Mediamatikers"
    2016 | Zentrum elektronische Medien | Stefan Eckstein

- - - - - - - - - - */

@media only screen and (max-width: 640px){
    
    /*.col-1{
    width: 35px;
    }

    .col-2{
        width: 90px;
    }

    .col-3{
        width: 145px;
    }

    .col-4{
        width: 200px;
    }

    .col-5{
        width: 255px;
    }

    .col-6, .halfwidth{
        width: 310px;
    }

    .col-7{
        width: 365px;
    }

    .col-8{
        width: 420px;
    }

    .col-9{
        width: 475px;
    }

    .col-10{
        width: 530px;
    }

    .col-11{
        width: 585px;
    }

    .col-12{
        width: 640px;
    }
    
    .fullwidth{
        width: 100%;
    }*/
    
    .sectionhead{
        width: 100%;
        padding: 70px 20px 70px 20px;
    }
    
    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 16px;
    }
    
    .subtitle{
        font-size: 16px;
    }
    
    .more-info{
        width: 100%;
         padding: 0px 20px;
        p{
            font-size: 12px;
        }
    }
    
    .quote {
            width: 100%;
            padding: 70px 0px;
            p{
                width: 100%;
                padding: 0px 20px;
            }
        }
    
    .link-buttons{
        width: 100%;
        padding: 30px 20px 70px 20px;
        .external-button{
            width: 80%;
            margin: 10px auto;
            padding: 15px;
            float: none;
            h2{
                letter-spacing: 0;
                position: relative;
                text-align: center;
                margin-left: 50px;
                a{
                    margin: -15px -40px -15px -40px;
                    padding: 15px 40px 15px 40px;
                }
            }
            h2:before{
                font-size: 14px;
                top: 8px;
                left: -30px;
                position: absolute;
            }
        }
    }
    
    
    
    
    #mdloader{
        #mdloader-content{
            width: 100%;
        }
        
        .fullwidth{

        }
        #header-logo{
        margin-top: 20px;
        background: url(../img/layout/md-logo-admin-vbs-flag.svg) no-repeat;
        }
    }
    
    #header-logo{
        margin: 0px 0px 0px 20px;
        height: 42px;
        background: url(../img/layout/md-logo-admin-vbs-flag.svg) no-repeat;
    }
    
    
    
    #mdhome{
        #mdhome-content{
            width: 100%;
        }
        #mdhome-skyline{
            width: 310px;
            svg{
                width: 100%;
            }
        }
        
        #mdhometext{
            padding: 0px 20px;
        }
        
        #scrolldown{
            p{
                display: none;
                
            }
        }
    }
    
    #mdwie{
        #videosection{
            height: 440px;
        }
        #playerwrapper{
            width: 100%;
            p{
                width: 100%;
                padding: 0px 20px;
            }
        }
        #videoplayer{
            padding: 0px 20px;
        }
        #video-mediamatiker{
            margin: 0 auto;
            width: 310px;
            height: 174px;
        }
        
        #requirement-grid{
            width: 100%;
            padding: 0px 20px;
        }
        
        .grid-item{
            width: 100%;
            margin: 20px 0px;
            float: none;
            img{
                margin-bottom: 20px;
            }
            h2{
                margin-bottom: 20px;
            }
        }
        
        
        
        
    }
    
    
    #mdweg{
        .sectionhead p{
            width: 100%;
        }
        #timeline{
            padding: 0px 20px;
            .timeline-box{
                width: 100%;
                padding: 30px 40px !important;
                h2{
                    margin-bottom: 10px;
                }
            }
            .timeline-milestone{
                width: 145px;
                height: 35px;
                line-height: 0.3;
                font-size: 16px;
            }
        }
        .timeline-end{
            width: 100%;
            p{
                width: 100%;
            }
        }
        
        .numbers-wrapper{
            width: 100%;
            padding: 0px 20px;
            .inline-box{
                width: 100%;
                margin: 0px;
            }
        }
    }
    
    #mdbereiche{
        .bereiche-wrapper{
            width: 100%;
            padding: 0px 20px;
            .inline-box{
                width: 100%;
                margin: 0px auto;
            }
            #mtinline{
                margin: 20px 0px !important;
            }
            #pminline{
                margin: 20px 0px !important;
            }
        }
    }
    
    .overlaywrapper{
        width: 90%;
        padding: 70px 0px 0px 0px;
        .overlayfooter{
            width: 100%;
        }
        .sectionhead{
            padding: 0px 20px 70px 20px;
        }
        .overlay-section{
            width: 100%;
            .overlay-title{
                width: 100%;
                text-align: center;
            }
            .overlay-text{
                width: 100%;
                padding: 0px 20px;
            }
        }
    }
    
    .closeoverlay{
        width: 100%;
        top: 0px;
        right: 0px;
        height: 65px;
        background: #eeeeee;
        border-bottom: 1px solid #d2d2d2;
        span{
            top: 20px !important;
            right: 20px !important;
            left: inherit;
            color: #3a4750;
        }
    }
    
    #mdme{
        .text-extender{
            width: 100%;
        }
        p.text16{
            font-size: 12px;
        }
        #aboutme{
            width: 100%;
            padding: 0px 20px;
        }
        
    }
    
    #map-wrapper{
        margin-bottom: 70px;
    }
    
    .map-overlapping{
        width: 90%;
        h2{
            font-size: 16px;
        }
    }
    
    .footer-notice{
        p{
            width: 100%;
            padding: 0px 20px;
        }
    }
  
    
}