/* - - - - - - - - - -

    CSS-Datei für das Responsive-Design:
    "Interaktives Berufsportrait eines Mediamatikers"
    2016 | Zentrum elektronische Medien | Stefan Eckstein

- - - - - - - - - - */

@media only screen and (max-width: 1260px){
    .mdheader-wrapper{
        width: 90%;
    }   
}

@media only screen and (max-width: 1200px){
    
    .col-12, .fullwidth{
        width: 100%;
    }
    
    #requirement-grid{
            width: 100%;
            padding: 0px 20px;
        }
        
    .grid-item{
        width: 50%;
        min-height: 310px;
        margin: 20px 0px;
        img{
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 20px;
        }          

    }
    
    .external-button{
        float: none;
        margin: 10px auto;
        h2{
            margin-bottom: 0px;
        }
    }
    
    .external-button:nth-child(3n+3){
        margin-right: auto;
    }

    .external-button:nth-child(3n+1){
        margin-left: auto;
    }
    
    #mdbereiche{
        .bereiche-wrapper{
            width: 100%;
            padding: 0px 20px;
            .inline-box{
                margin: 0px auto;
                h2{
                    margin-bottom: 0;
                }
            }
            .box-label{
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    .inline-box{
            display: inherit;
            margin: 0 auto;
        }

        .inline-box:nth-child(3n+1){
            margin-left: auto;
        }

        .inline-box:nth-child(3n+3){
            margin-right: auto;
        }
    
    .bereiche-wrapper{
        .box-label{
            display: block;
        }
    }
    
    #mtinline{
        margin: 20px auto !important;
    }
    #pminline{
        margin: 20px auto !important;
    }
    
    .overlaywrapper{
        width: 90%;
        padding: 70px 0px 0px 0px;
        .overlayfooter{
            width: 100%;
        }
        .sectionhead{
            padding: 0px 20px 70px 20px;
        }
        .overlay-section{
            width: 100%;
            padding: 50px 0px;
            .overlay-title{
                width: 100%;
                padding: 0px 20px;
                margin-bottom: 10px;
                text-align: left;
            }
            .overlay-text{
                width: 100%;
                padding: 0px 20px;
            }
        }
    }
    
    .closeoverlay{
        width: 100%;
        top: 0px;
        right: 0px;
        height: 67px;
        background: #eeeeee;
        border-bottom: 1px solid #d2d2d2;
        span{
            top: 20px !important;
            right: 20px !important;
            left: inherit;
            color: #3a4750;
        }
    }
}


@media only screen and (max-width: 990px){
    
    
    .sectionhead, .quote, .more-info, .timeline-end, .subtitle{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    #mdweg{
        .sectionhead{
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            p{
                width: 100%;
            }
        }
    }
    
    .numbers-wrapper{
        width: 100%;
    }
    
    .inline-box{
            display: inherit;
            margin: 0 auto;
        }

        .inline-box:nth-child(3n+1){
            margin-left: auto;
        }

        .inline-box:nth-child(3n+3){
            margin-right: auto;
        }
    
    .bereiche-wrapper{
        .box-label{
            display: block;
        }
    }
    
    #mtinline{
        margin: 20px auto !important;
    }
    #pminline{
        margin: 20px auto !important;
    }
    
    
    
    
    
}

@media only screen and (max-width: 800px){
    #mdloader{
        #mdloader-content{
            width: 100%;
        }
        
        .fullwidth{

        }
        #header-logo{
        margin-top: 20px;
        background: url(../img/layout/md-logo-admin-vbs-flag.svg) no-repeat;
        }
    }
    
    header{
        background: rgba(255, 255, 255, 0.85) !important;
        border-bottom: 1px solid #d2d2d2;
        height: inherit;
        padding: 20px 0px 20px 0px;
    }
    
    .mdheader-wrapper{
        width: 100%;
    }
    
    #header-logo{
        width: 30px;
        margin: 0px 0px 0px 20px;
        height: 42px;
        background: url(../img/layout/md-logo-admin-vbs-flag.svg) no-repeat;
    }
    
    #mdhome-content{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media only screen and (max-width: 680px){
    
    .sectionhead{
        width: 100%;
        padding: 70px 20px 70px 20px;
    }
    
    .md-hero-image{
        height: 250px;
    }
    
    h1{
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .subtitle{
        font-size: 16px;
    }
    
    .more-info{
        width: 100%;
         padding: 0px 20px;
        p{
            font-size: 12px;
        }
    }
    
    .quote {
            width: 100%;
            padding: 70px 0px;
            p{
                width: 100%;
                padding: 0px 20px;
            }
        }
    
    .link-buttons{
        width: 100%;
        padding: 30px 20px 70px 20px;
        .external-button{
            width: 80%;
            margin: 10px auto;
            padding: 15px;
            float: none;
            h2{
                letter-spacing: 0;
                position: relative;
                text-align: center;
                margin-left: 50px;
                a{
                    margin: -15px -40px -15px -40px;
                    padding: 15px 40px 15px 40px;
                }
            }
            h2:before{
                font-size: 14px;
                top: 8px;
                left: -30px;
                position: absolute;
            }
        }
    }      
    
    #mdhome{
        #mdhome-content{
            width: 100%;
        }
        #mdhome-skyline{
            width: 310px;
            svg{
                width: 100%;
            }
        }
        
        #mdhometext{
            padding: 0px 20px;
        }
        
        #scrolldown{
            p{
                display: none;
                
            }
        }
    }
    
    #mdwie{
        #videosection{
            height: 440px;
        }
        #playerwrapper{
            width: 100%;
            p{
                width: 100%;
                padding: 0px 20px;
            }
        }
        #videoplayer{
            padding: 0px 20px;
        }
        #video-mediamatiker{
            margin: 0 auto;
            width: 310px;
            height: 174px;
        }
        
        #requirement-grid{
            width: 100%;
            padding: 0px 20px;
        }
        
        .grid-item{
            width: 100%;
            margin: 20px 0px;
            float: none;
        }
        
    }
    
    
    #mdweg{
        .sectionhead p{
            width: 100%;
        }
        #timeline{
            padding: 0px 20px;
            .timeline-box{
                width: 100%;
                padding: 30px 40px !important;
                h2{
                    margin-bottom: 10px;
                }
            }
        }
        .timeline-end{
            width: 100%;
            p{
                width: 100%;
            }
        }
        
        .numbers-wrapper{
            width: 100%;
            padding: 0px 20px;
            .inline-box{
                width: 100%;
                margin: 0px;
                p{
                    margin-top: 10px;
                }
            }
        }
        
        #luftballon{
            width: auto;
        }
    }
    
    .inline-box{
        width: 100%;
    }
    
    .inline-box{
        display: inherit;
        margin: 0 auto;
    }

    .inline-box:nth-child(3n+1){
        margin-left: auto;
    }

    .inline-box:nth-child(3n+3){
        margin-right: auto;
    }
        
    #mdme{
        .text-extender{
            width: 100%;
        }
        p.text16{
            font-size: 12px;
        }
        #aboutme{
            width: 100%;
            padding: 0px 20px;
            p{
                width: 100%;
            }
        }
        .about-img{
            width: 100%;
        }
        
    }
    
    #map-wrapper{
        margin-bottom: 70px;
    }
    
    .map-overlapping{
        width: 90%;
        h2{
            margin-bottom: 10px;
        }
    }
    
    .footer-notice{
        p{
            width: 100%;
            padding: 0px 20px;
        }
    }
  
    
}


@media only screen and (max-width:400px){
    .overlay-button{
        width: 100% !important; 
    }
}