@charset "UTF-8";
/*
 Definieren der Variablen, um im Verlauf des Dokuments auf diese zurückgreifen zu können.
*/
/*
 Grundlegende Definitionen, die den Browser normalisieren
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

p {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.light-blue-grey {
  color: #3a4750; }

.bg-light-blue-grey {
  background: #3a4750; }

.dark-aqua {
  color: #53a8b6; }

.bg-dark-aqua {
  background: #53a8b6; }

.light-grey {
  color: #eeeeee; }
  .light-grey a {
    color: #eeeeee; }
  .light-grey a:visited {
    color: #eeeeee; }

.bg-light-grey {
  background: #eeeeee; }

/* - - - - - - - - - -

    Alle globalen Textformatierungen für verschiedene Formate und Grössen.

- - - - - - - - - - */
h1 {
  font-size: 56px;
  font-family: "source_sans_pro_bold", sans-serif; }

h2 {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-family: "source_sans_pro_bold", sans-serif; }

.text16 {
  line-height: 24px;
  font-size: 16px;
  -moz-hyphens: auto;
  hyphens: auto; }

.uppercase {
  text-transform: uppercase; }

.light {
  font-family: "source_sans_pro_light", sans-serif; }

.subtitle {
  font-family: "source_sans_pro_light", sans-serif;
  font-size: 22px;
  line-height: 34px; }

.centered {
  text-align: center; }

.quote {
  padding: 100px 0px; }

.more-info {
  padding: 100px 0px 50px 0px; }

/* - - - - - - - - - -

    Globale Eigenschaften, die im Verlauf des Dokuments immer wieder vorkommen können und deshalb einfach als Klasse vergeben werden.

- - - - - - - - - - */
/*
    Abgerundete Buttons mit Icon für ausgehende Links am Ende einer <section> um weitere Informationen zur Verfügung zu stellen.
*/
.link-buttons {
  padding: 0px 0px 100px 0px; }

.external-button {
  border-radius: 12px;
  border: 1px solid #cdcccc;
  padding: 25px;
  float: left;
  margin: 10px; }
  .external-button h2 {
    letter-spacing: 0;
    position: relative;
    margin-left: 50px; }
    .external-button h2 a {
      color: #3a4750;
      text-decoration: none;
      margin: -25px -40px -25px -40px;
      padding: 25px 40px 25px 40px; }
  .external-button h2:before {
    font-family: 'icomoon';
    content: "\e902";
    color: #53a8b6;
    font-size: 18px;
    position: absolute;
    top: 8px;
    left: -50px; }

.external-button:nth-child(3n+3) {
  margin-right: 0px; }

.external-button:nth-child(3n+1) {
  margin-left: 0px; }

/*
    Diese Klasse ist dazu da, um am Anfang einer neuen Section den Titel und den kurzen Einleitungstext pasend zu positionieren.
*/
.sectionhead {
  padding: 200px 0px 100px 0px; }

/* - - - - - - - - - -

    Alle Formatierungen und Eigenschaften für den Header der sichtbar ist, wenn die Seite aufgerufen wird und der Loader ausgeblentet ist.

- - - - - - - - - - */
header {
  width: 100%;
  height: 80px;
  z-index: 10;
  position: fixed;
  padding: 20px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.8); }

#header-logo {
  margin: 0px 0px 0px -30px; }

#mdhome {
  width: 100%;
  height: 100vh;
  background: #f8f8f8 url(../img/layout/md-home-pattern.png); }

#mdhome-content {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#mdhome-skyline {
  margin: 0px auto 30px auto; }

#scrolldown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  /*
      Angepasste Animation von Animate.css, dass das Element ein wenig schwächer auf und ab hüpft und so weniger hektisch wirkt.
  */ }
  #scrolldown .text16 {
    margin: 0px 0px 20px 0px;
    padding: 0px 58px; }
  #scrolldown span {
    margin: -20px;
    padding: 20px;
    cursor: pointer; }
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  70% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  70% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.infinite {
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Wie werde ich MediamatikerIn?

- - - - - - - - - - */
#mdwie {
  width: 100%;
  background: #f8f8f8; }

#videosection {
  height: 638px;
  background: #303841;
  position: relative;
  overflow: hidden; }

/*
    Der Bereich des Videoplayers mit dem geblurten Hintergrundbild.
*/
#video {
  z-index: 5 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 50%;
  transform: translateX(-50%); }

#video:before {
  content: "";
  position: absolute;
  background: url(../img/screenshot-video.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.1);
  opacity: 0.2; }

#playerwrapper {
  position: relative;
  z-index: 10 !important;
  margin: 100px auto 35px auto; }
  #playerwrapper p {
    margin-top: 35px; }

.grid-item {
  padding: 20px;
  margin: 10px;
  float: left; }
  .grid-item img {
    margin-bottom: 20px; }
  .grid-item h2 {
    margin-bottom: 20px; }

.grid-item:first-child {
  margin-left: 0; }

.grid-item:last-child {
  margin-right: 0; }

.grid-item:nth-child(3n+3) {
  margin-right: 0; }

.grid-item:nth-child(3n+1) {
  margin-left: 0; }

#mdschule .external-button {
  margin: 0 auto !important;
  float: none !important; }
#mdschule .external-button:nth-child(3n+1) {
  margin-left: auto !important; }

.col-1 {
  width: 80px; }

.col-2 {
  width: 180px; }

.col-3 {
  width: 280px; }

.col-4 {
  width: 380px; }

.col-5 {
  width: 480px; }

.col-6, .halfwidth {
  width: 580px; }

.col-7 {
  width: 680px; }

.col-8 {
  width: 780px; }

.col-9 {
  width: 880px; }

.col-10 {
  width: 980px; }

.col-11 {
  width: 1080px; }

.col-12, .fullwidth {
  width: 1180px; }

.div-center {
  margin: 0 auto; }

/*
 Clearfix um nach gefloateten Objekten wieder zurückzusetzen und Elternelemente wieder zu normalisieren.
*/
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px; }

/*
    Einbinden der Webfonts

    Lizenz "Source Sans Pro":
    Copyright 2010, 2012 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name ‘Source’. All Rights Reserved. Source is a trademark of Adobe Systems Incorporated in the United States and/or other countries.

    This Font Software is licensed under the SIL Open Font License, Version 1.1.
*/
@font-face {
  font-family: 'source_sans_pro_bold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_light';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_regular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_semibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6dspxr");
  src: url("../fonts/icomoon.eot?6dspxr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6dspxr") format("truetype"), url("../fonts/icomoon.woff?6dspxr") format("woff"), url("../fonts/icomoon.svg?6dspxr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-arrow-down:before {
  font-size: 24px;
  content: "\e900"; }

.icon-icon-close:before {
  content: "\e901"; }

.icon-icon-link:before {
  content: "\e902"; }

/*# sourceMappingURL=style.css.map */
