@charset "UTF-8";
/* - - - - - - - - - -

    CSS-Datei für die IPA:
    "Interaktives Berufsportrait eines Mediamatikers"
    2016 | Zentrum elektronische Medien | Stefan Eckstein

- - - - - - - - - - */
/*
 Definieren der Variablen, um im Verlauf des Dokuments auf diese zurückgreifen zu können.
*/
/*
 Grundlegende Definitionen, die den Browser normalisieren
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

p {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.white {
  color: white; }

.light-blue-grey {
  color: #3a4750; }
  .light-blue-grey a {
    color: #3a4750; }
  .light-blue-grey a:visited {
    color: #3a4750; }

.bg-light-blue-grey {
  background: #3a4750;
  color: #eeeeee; }

.dark-aqua {
  color: #53a8b6; }

.bg-dark-aqua {
  background: #53a8b6; }

.light-grey {
  color: #eeeeee; }
  .light-grey a {
    color: #eeeeee; }
  .light-grey a:visited {
    color: #eeeeee; }

.bg-light-grey {
  background: #eeeeee; }

.border {
  border: 1px solid #cdcccc; }

/* - - - - - - - - - -

    Alle globalen Textformatierungen für verschiedene Formate und Grössen.

- - - - - - - - - - */
h1 {
  font-size: 56px;
  font-family: "source_sans_pro_bold", sans-serif;
  letter-spacing: -1px; }

h2 {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-family: "source_sans_pro_bold", sans-serif; }

a {
  text-decoration: none;
  padding-bottom: 1px; }

.lightlink {
  border-bottom: 1px dotted #eeeeee; }

.darklink {
  border-bottom: 1px dotted #3a4750; }

.text16 {
  line-height: 24px;
  font-size: 16px;
  -moz-hyphens: auto;
  hyphens: auto; }

.uppercase {
  text-transform: uppercase; }

.light {
  font-family: "source_sans_pro_light", sans-serif; }

.bold {
  font-family: "source_sans_pro_bold", sans-serif; }

.subtitle {
  font-family: "source_sans_pro_light", sans-serif;
  font-size: 22px;
  line-height: 34px; }

.centered {
  text-align: center; }

.quote {
  padding: 100px 0px; }

.more-info {
  padding: 100px 0px 50px 0px; }

.lb-wrapper {
  margin-top: 50px; }
  .lb-wrapper a {
    margin: 0px 10px; }
  .lb-wrapper a:first-child {
    margin: 0px 10px 0px 0px; }

.countup-number-big {
  font-size: 56px;
  color: #53a8b6; }

/* - - - - - - - - - -

    Globale Eigenschaften, die im Verlauf des Dokuments immer wieder vorkommen können und deshalb einfach als Klasse vergeben werden.

- - - - - - - - - - */
/*
    Abgerundete Buttons mit Icon für ausgehende Links am Ende einer <section> um weitere Informationen zur Verfügung zu stellen.
*/
.link-buttons {
  padding: 0px 0px 100px 0px; }

.external-button {
  border-radius: 12px;
  border: 1px solid #cdcccc;
  padding: 25px;
  float: left;
  margin: 10px; }
  .external-button h2 {
    letter-spacing: 0;
    position: relative;
    margin-left: 50px; }
    .external-button h2 a {
      color: #3a4750;
      text-decoration: none;
      margin: -25px -40px -25px -40px;
      padding: 25px 40px 25px 40px; }
  .external-button h2:before {
    font-family: 'iconzem';
    content: "\64";
    color: #53a8b6;
    font-size: 18px;
    position: absolute;
    top: 8px;
    left: -50px; }

.external-button:nth-child(3n+3) {
  margin-right: 0px; }

.external-button:nth-child(3n+1) {
  margin-left: 0px; }

.hidden {
  display: none; }

.vhidden {
  visibility: hidden; }

.noscroll {
  overflow: hidden; }

/*
    Diese Klasse ist dazu da, um am Anfang einer neuen Section den Titel und den kurzen Einleitungstext pasend zu positionieren.
*/
.sectionhead {
  padding: 200px 0px 100px 0px;
  text-align: center; }

.md-hero-image {
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#img-zem {
  background: url(../img/layout/md-zem.jpg) no-repeat center center fixed; }

/* - - - - - - - - - -

    Alle Formatierungen und Eigenschaften für den Loader.

- - - - - - - - - - */
#mdloader {
  /*display: none;*/
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 30;
  background: #3a4750 url(../img/layout/md-loader-pattern.jpg); }
  #mdloader .fullwidth {
    position: fixed;
    left: 0px;
    right: 0px; }
  #mdloader #header-logo {
    margin-top: 20px;
    background: url(../img/layout/md-logo-admin-vbs-inv.svg) no-repeat; }

#mdloader-content {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.loaderbar-wrapper {
  height: 4px;
  background: #53a8b6;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  right: 0px; }

.loaderbar {
  width: 0px;
  height: 4px;
  border-radius: 4px;
  background: #f8f8f8;
  animation: loader 20s ease; }

@keyframes loader {
  from {
    width: 0px; }
  20% {
    width: 60px; }
  50% {
    width: 100px; }
  to {
    width: 180px; } }
.loaded {
  width: 180px !important; }

/* - - - - - - - - - -

    Alle Formatierungen und Eigenschaften für den Header der sichtbar ist, wenn die Seite aufgerufen wird und der Loader ausgeblentet ist.

- - - - - - - - - - */
header {
  width: 100%;
  height: 80px;
  z-index: 25;
  position: fixed;
  padding: 20px 0px 0px 0px;
  transition: 0.5s ease; }

#header-logo {
  float: left;
  margin: 0px 0px 0px -30px;
  height: 42px;
  background: url(../img/layout/md-logo-admin-vbs.svg) no-repeat; }

#header-nav {
  width: 42px;
  height: 42px;
  float: right;
  cursor: pointer;
  position: relative; }

#header-nav-inline {
  width: 24px;
  background: lime;
  position: relative;
  margin: 12px auto 0px auto; }

.nav-line {
  width: 12px;
  height: 3px;
  background: #565656;
  position: absolute;
  transition: 0.2s ease; }

.top {
  top: 0px; }

.mid {
  top: 7px; }

.bottom {
  top: 14px; }

.left {
  left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.right {
  right: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.navopend .top.left {
  transform: translate(1px, 2px) rotate(45deg) scaleX(1.25); }
.navopend .top.right {
  transform: translate(0px, 2px) rotate(-45deg) scaleX(1.25); }
.navopend .mid.left {
  width: 0px;
  opacity: 0; }
.navopend .mid.right {
  width: 0px;
  opacity: 0; }
.navopend .bottom.left {
  transform: translate(1px, -2px) rotate(-45deg) scaleX(1.25); }
.navopend .bottom.right {
  transform: translate(0px, -2px) rotate(45deg) scaleX(1.25); }

#nav-wrapper {
  position: relative;
  pointer-events: none; }

#md-navigation {
  display: none;
  position: absolute;
  right: 0px;
  top: 82px;
  z-index: 30;
  pointer-events: all; }
  #md-navigation #nav-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #565656;
    position: absolute;
    right: 15px;
    top: -5px; }
  #md-navigation nav {
    background: white;
    border: 1px solid #f7f7f7;
    width: 180px;
    padding: 20px;
    border-radius: 12px; }
    #md-navigation nav ul {
      list-style-type: none; }
      #md-navigation nav ul li {
        text-align: center;
        margin: -10px;
        padding: 10px; }
        #md-navigation nav ul li a {
          font-family: "source_sans_pro_light", sans-serif;
          font-size: 16px;
          color: #3a4750;
          margin: -10px;
          padding: 10px; }
      #md-navigation nav ul li:hover a {
        color: #53a8b6; }

.navvisible {
  display: block !important; }

#mdhome {
  width: 100%;
  height: 100vh;
  background: #f8f8f8 url(../img/layout/md-home-pattern.jpg); }

#mdhome-content {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#mdhome-skyline {
  margin: 0px auto 30px auto;
  animation-delay: 0.2s; }

#scrolldown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  /*
      Angepasste Animation von Animate.css, dass das Element ein wenig schwächer auf und ab hüpft und so weniger hektisch wirkt.
  */ }
  #scrolldown .text16 {
    margin: 0px 0px 20px 0px;
    padding: 0px 58px; }
  #scrolldown span {
    margin: -20px;
    padding: 20px;
    cursor: pointer; }
  #scrolldown .scrollhint {
    animation-delay: 8s;
    animation-iteration-count: 3; }
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  70% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  70% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.infinite {
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Wie werde ich MediamatikerIn?"

- - - - - - - - - - */
#mdwie {
  width: 100%;
  background: #f8f8f8; }

#videosection {
  height: 638px;
  background: #303841;
  position: relative;
  overflow: hidden; }

/*
    Der Bereich des Videoplayers mit dem geblurten Hintergrundbild.
*/
#video-mediamatiker {
  width: 780px;
  height: 439px; }

#video {
  z-index: 5 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 50%;
  transform: translateX(-50%); }

#video:before {
  content: "";
  position: absolute;
  background: url(../img/screenshot-video.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.1);
  opacity: 0.2; }

#playerwrapper {
  position: relative;
  z-index: 10 !important;
  margin: 100px auto 35px auto; }
  #playerwrapper p {
    margin-top: 35px; }

.grid-item {
  padding: 20px;
  margin: 10px;
  float: left; }
  .grid-item img {
    margin-bottom: 20px; }
  .grid-item h2 {
    margin-bottom: 20px; }

.grid-item:first-child {
  margin-left: 0; }

.grid-item:last-child {
  margin-right: 0; }

.grid-item:nth-child(3n+3) {
  margin-right: 0; }

.grid-item:nth-child(3n+1) {
  margin-left: 0; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Berufsschule"

- - - - - - - - - - */
#mdschule .external-button {
  margin: 0 auto !important;
  float: none !important; }
#mdschule .external-button:nth-child(3n+1) {
  margin-left: auto !important; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Der Weg ins ZEM"

- - - - - - - - - - */
#mdweg {
  background: #f8f8f8; }
  #mdweg .sectionhead p {
    width: 780px; }

.timeline-box {
  background: white;
  border-radius: 12px;
  padding: 30px 80px;
  text-align: center; }
  .timeline-box img {
    margin-bottom: 20px; }

.timeline-line {
  width: 2px;
  height: 50px;
  background: #53a8b6; }

.timeline-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #53a8b6; }

.timeline-ms-wrapper {
  width: 220px; }

.timeline-milestone {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  -ms-transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  background: #53a8b6; }

.timeline-ms-text {
  color: #53a8b6;
  margin: 20px 0px;
  font-size: 24px; }

.timeline-end {
  margin-top: 50px !important;
  padding-bottom: 100px;
  text-align: center; }

#timeline-facts {
  background: #eeeeee;
  padding-bottom: 100px; }

.inline-spacer {
  display: inline-block; }

.inline-box {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  padding: 25px;
  text-align: center; }
  .inline-box img {
    margin-bottom: 20px; }

.inline-box:nth-child(3n+1) {
  margin-left: 0px; }

.inline-box:nth-child(3n+3) {
  margin-right: 0px; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Das ZEM und seine Bereiche"

- - - - - - - - - - */
#mdbereiche {
  padding-bottom: 100px; }

.bereiche-wrapper .inline-box {
  border-radius: 12px; }
.bereiche-wrapper .box-label {
  cursor: pointer;
  display: inline-block; }
.bereiche-wrapper label .inline-box:nth-child(3n+1) {
  margin-left: 0px; }
.bereiche-wrapper label .inline-box:nth-child(3n+3) {
  margin-right: 0px; }

.overlay-button {
  background: #53a8b6;
  border: 2px solid #53a8b6;
  margin-top: 20px !important;
  border-radius: 12px;
  padding: 4px;
  transition: 0.5s ease; }
  .overlay-button h2 {
    font-size: 20px;
    color: white; }

.overlay-button:hover {
  background: white;
  border: 2px solid #53a8b6; }
  .overlay-button:hover h2 {
    color: #53a8b6; }

.overlay {
  position: fixed;
  overflow: hidden;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.89);
  overflow-y: scroll; }

.overlaywrapper {
  margin-top: 100px !important;
  background: #eeeeee; }
  .overlaywrapper .sectionhead {
    padding: 100px 0px; }

.overlay-section {
  padding: 100px 0px;
  border-top: 1px solid #d2d2d2; }

.overlay-section:last-child {
  border-bottom: 1px solid #d2d2d2; }

.overlay-nbt {
  border-top: none; }

.overlay-image {
  width: 100%; }
  .overlay-image img {
    width: 100%; }

.overlay-text {
  display: inline-block; }
  .overlay-text br {
    margin-bottom: 20px; }

.overlay-title {
  vertical-align: top;
  display: inline-block; }

.overlayfooter {
  background: #3a4750;
  padding: 50px;
  margin-bottom: 100px !important; }

.closeoverlay {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #f8f8f8; }
  .closeoverlay span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

.footercloseoverlay {
  cursor: pointer; }

input#openIAM[type="checkbox"]:checked ~ #overlayIAM {
  display: block; }

input#openMT[type="checkbox"]:checked ~ #overlayMT {
  display: block; }

input#openPM[type="checkbox"]:checked ~ #overlayPM {
  display: block; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Über mich"

- - - - - - - - - - */
#mdme {
  background: #f8f8f8;
  padding-bottom: 100px;
  transition: 2s ease; }

.text-extender {
  margin: 80px 0px 0px 0px;
  cursor: pointer; }

#aboutme {
  display: none; }
  #aboutme p {
    margin-bottom: 20px; }

.text-visible {
  display: block !important; }

.about-img {
  margin: 50px auto !important; }
  .about-img img {
    width: 100%; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für den Bereich "Footer"

- - - - - - - - - - */
#mdfooter .subtitle br {
  margin-bottom: 20px; }

#map-wrapper {
  position: relative; }

#map {
  width: 100%;
  height: 550px;
  margin-bottom: 180px; }

.map-overlapping {
  position: absolute;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -10px;
  z-index: 5;
  border-radius: 12px;
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 2em; }
  .map-overlapping img {
    margin-bottom: 20px; }

.footer-notice {
  padding: 50px 0px;
  background: #565656; }

.footer-end {
  padding: 20px 0px;
  background: #373737; }
  .footer-end .icon-icon-heart {
    color: #53a8b6; }

/* - - - - - - - - - -

    Die Eigenschaften und Formatierungen für das 12er Grid.

- - - - - - - - - - */
.col-1 {
  width: 80px; }

.col-2 {
  width: 180px; }

.col-3 {
  width: 280px; }

.col-4 {
  width: 380px; }

.col-5 {
  width: 480px; }

.col-6, .halfwidth {
  width: 580px; }

.col-7 {
  width: 680px; }

.col-8 {
  width: 780px; }

.col-9 {
  width: 880px; }

.col-10 {
  width: 980px; }

.col-11 {
  width: 1080px; }

.col-12, .fullwidth {
  width: 1180px; }

.div-center {
  margin: 0 auto; }

/*
 Clearfix um nach gefloateten Objekten wieder zurückzusetzen und Elternelemente wieder zu normalisieren.
*/
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px; }

/*
    Einbinden der Webfonts

    Lizenz "Source Sans Pro":
    Copyright 2010, 2012 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name ‘Source’. All Rights Reserved. Source is a trademark of Adobe Systems Incorporated in the United States and/or other countries.

    This Font Software is licensed under the SIL Open Font License, Version 1.1.
*/
@font-face {
  font-family: 'source_sans_pro_bold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_light';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_regular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro_semibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "iconzem";
  src: url("../fonts/iconzem.eot");
  src: url("../fonts/iconzem.eot?#iefix") format("embedded-opentype"), url("../fonts/iconzem.woff") format("woff"), url("../fonts/iconzem.ttf") format("truetype"), url("../fonts/iconzem.svg#iconzem") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "iconzem" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconzem" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-arrow-down:before {
  content: "\61"; }

.icon-icon-close:before {
  content: "\62"; }

.icon-icon-heart:before {
  content: "\63"; }

.icon-icon-link:before {
  content: "\64"; }

/*
    Einbinden der Formatierungen des Skindesigner für Video.js
    Lizenz "Player Skin Designer":

    Player Skin Designer for Video.js

    This designer can be linked to at:
    http://codepen.io/heff/pen/EarCt/left/?editors=010
*/
.video-js {
  font-size: 10px;
  color: #fff; }

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  /* 1.5em = 45px default */
  line-height: 2em;
  height: 2em;
  width: 2em;
  /* 0.06666em = 2px default */
  border: 0.06666em solid #fff;
  /* 0.3em = 9px default */
  border-radius: 2em;
  /* Align center */
  left: 50%;
  top: 50%;
  margin-left: -1em;
  margin-top: -1em; }

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: #3a4750;
  background-color: rgba(58, 71, 80, 0.7); }

.video-js .vjs-slider {
  background-color: #899ca9;
  background-color: rgba(137, 156, 169, 0.5); }

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #fff; }

.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time {
  display: block !important; }

.vjs-playback-rate {
  display: none; }

.vjs-remaining-time {
  display: none; }

.vjs-mouse-display {
  display: none !important; }

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none; }

.video-js .vjs-load-progress {
  background: ligthen(#899ca9, 25%);
  background: rgba(137, 156, 169, 0.5); }

.video-js .vjs-load-progress div {
  background: ligthen(#899ca9, 50%);
  background: rgba(137, 156, 169, 0.75); }

/*# sourceMappingURL=style.css.map */
